.btn
{
    background-image: linear-gradient(to left, #054442, #8fbc8f);
    border: none;
    color: white;
    width: 100%;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 1em;
    cursor: pointer;
    font-family: 'Montserrat';
}

input 
{
    width: 100%;
}
h5 {
    color: #054442;
}