.btn
{
    background-image: linear-gradient(to left, #054442, #8fbc8f);
    border: none;
    color: white;
    width: 100%;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Montserrat';
    float: right;
    width: auto;
}
.findbtn
{
    background-image: linear-gradient(to left, #054442, #8fbc8f);
    border: none;
    color: white;
    width: 100%;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Montserrat';
    float: right;
    padding: 9px;
}

input 
{
    width: 100%;
}
h5 {
    color: #054442;
}
.row {
    height: auto;
    padding: 10px;
  }